<h3><%=t("cmn_sentence.listTitle",model:User.model_name.human) %></h3>

<div class="my-3 p-3 bg-white rounded box-shadow">
	<h6 class="border-bottom border-gray pb-2 mb-0">Resgeterd Skilled Person List</h6>

    <%=render partial:'user',collection: @allusers %>
<%
	#TODO search person for assosiate
	#TODO edit person profile
%>
	<div class="modal fade" id="searchModal" tabindex="-1"  role="dialog" area-labelledby="searchModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title" id="searchModalTitle">Search a person for assosiate with Login</h3>
					<button type="button" class="close" data-dismiss="modal" area-label="Close">
						<span area-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<label for="search-keyword" class="col-form-label">Keyword:</label>
						<input type="text" class="form-control" id="search-keyword" />
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
					<button type="button" class="btn btn-primary">Search!</button>
				</div>
			</div>
		</div>
	</div>



	<small class="d-block text-right mt-3">
		<a href="#">All updates</a>
	</small>
</div>

