%h2=@var.title
:javascript
  var columns = [
    {id: "sel", name: "#", field: "num", behavior: "select", cssClass: "cell-selection", width: 40, resizable: false, selectable: false },
    {id: "title", name: "Title", field: "title", width: 120, minWidth: 120, cssClass: "cell-title", columnGroup:"Common Factor"},
    {id: "duration", name: "Duration", field: "duration", columnGroup:"Common Factor"},
    {id: "start", name: "Start", field: "start", minWidth: 60, columnGroup:"Period"},
    {id: "finish", name: "Finish", field: "finish", minWidth: 60, columnGroup:"Period"},
    {id: "%", defaultSortAsc: false, name: "% Complete", field: "percentComplete", width: 80, resizable: false, columnGroup:"Analysis"},
    {id: "effort-driven", name: "Effort Driven", width: 80, minWidth: 20, maxWidth: 80, field: "effortDriven", columnGroup:"Analysis"}
  ];
  var data = [];
  $(function () {
    for (var i = 0; i < 50000; i++) {
      var d = (data[i] = {});
      d["id"] = "id_" + i;
      d["num"] = i;
      d["title"] = "Task " + i;
      d["duration"] = "5 days";
      d["start"] = "01/01/2009";
      d["finish"] = "01/05/2009";
      d["percentComplete"] = Math.round(Math.random() * 100);
      d["effortDriven"] = (i % 5 == 0);
    }
  }
