%h2=@var.title
.y-3.p-3.bg-white.rounded.box-shadow
	- # render partial: 'businesses/business_description', locals: { business: @offer.business }
	= form_for @offer, url: (@var.mode=="new" ? url_for(action: 'create') : url_for(action:'update',id:@var.mode)) do |f|
		.row