.d-flex
	=form_tag url_for(controller:'business',action:'search'), remote:true do
		.px-3
			=text_field_tag 'search-field'
		.px-3
			=submit_tag t('cmn_sentence.searchButton',model:Business.model_name.human)
#search_list.d-flex
	Search Result