<% # title: "募集業務", businesses: collection, office_id: 親office %>
<h3><%= title %></h3>
<% if businesses.count > 0 %>
	<%= render partial: "business/business_description", collection: businesses, as:"business" %>
<% else %>
	<div class="row">
		<div class="col-4">
			<span>登録無し</span>
		</div>
	</div>
<% end %>
<div class="sl-row-rightAlign">
	<div class="col-2">
		<%= link_to controller:"business", action:"new", office_id:office_id do %>
			<%= button_tag "業務追加", type: "button" %>
		<% end %>
	</div>
</div>
