.d-flex
	=form_tag({controller: 'engineer', action: 'search'}, remote:true) do
		= hidden_field_tag 'offer_id', modal_var.offer_object.id
		.px-3
			%span.sl-title
				= t("cmn_dict.freeword")
			%span.sl-content
				=text_field_tag :keyword
		.px-3
			=submit_tag t('cmn_sentence.searchButton',model:Engineer.model_name.human)
#engineer_search_list.d-flex