@import "bootstrap";
@import "normalize";
@import "base";
@charset "UTF-8";

.app-datablock{
  @extend .pb-3;
  @extend .mb-0;
  @extend .small;
  @extend .border-bottom;
  @extend .d-flex;
  @extend .flex-column;
}

.app-data-title{
  @extend .d-block;
  
}
.app-data-label{
  @extend .d-inline;
}
.app-data-content{
  @extend .d-inline;
}

.app-notice{
  color: green;
}

.app-alert{ 
  color: red;
  font-weight: bold;
}

.sl-border-primary{
  @extend .row;
  @extend .border;
  @extend .border-primary;
  @extend .align-items-center;
  @extend .py-2;
  @extend .m-2;
}

.sl-row-border-secondary{
  @extend .row;
  @extend .border;
  @extend .border-secondary;
  @extend .align-items-center;
  @extend .py-2;
  @extend .m-2;
}

.sl-row-rightAlign{
  @extend .row;
  @extend .justify-content-end;
  @extend .align-items-center;
  height: 50px;
}

.sl-content{
  white-space: nowrap;
  padding: 0 1em;
}
.sl-title{
  @extend .sl-content;
  font-weight: bold;
}

.sl-large-input{
  width: 90%;
}

.sl-small-field{
  width: 5em
}

label.sl-auto-input{
  width: 25%;
}

input.sl-auto-input{
  width: 69%;
}

textarea.sl-large{
  width: 100%;
  height: 5em;
}